.logo, .landing-logo, .footer_logo {
  display: flex; }
  .logo img, .landing-logo img, .footer_logo img {
    align-self: center; }
  .logo p, .landing-logo p, .footer_logo p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 26px;
    padding-left: 0.8rem;
    line-height: 1; }
    .logo p span, .landing-logo p span, .footer_logo p span {
      font-weight: lighter;
      font-size: 12px; }

html {
  font-size: 1rem; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  background-color: white; }

.header {
  background: url(../img/m-h-day.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: block;
  padding-bottom: 10.5rem;
  border-bottom-right-radius: 38%; }
  .header-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    padding-top: 1.4rem;
    margin-left: 10%; }
  .header_heading {
    margin-top: 4.2rem;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.5px;
    position: relative;
    z-index: 10;
    color: #21232E; }
    .header_heading::before {
      content: '';
      background-color: #14A0C7;
      width: 310px;
      height: 55px;
      position: absolute;
      z-index: -1;
      bottom: 0; }
  .header_text {
    font-family: "Hind", sans-serif;
    letter-spacing: 0.6px;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 4rem;
    width: 80%;
    color: #21232E; }
  .header_button {
    padding: 0.8rem 2.7rem;
    background-color: #699900;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 8%; }
    .header_button:hover {
      background-color: #466600; }
  .header a {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 9rem; }
    .header a:hover {
      color: #b3b3b3; }

.landing-logo p {
  color: #21232E; }
  .landing-logo p span {
    color: #21232E; }

.section {
  display: flex;
  flex-direction: column; }
  .section_card_wrap {
    margin: 0 auto;
    width: 60%; }
  .section_link {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 500;
    font-size: 20px; }
    .section_link:hover {
      color: #b3b3b3; }
  .section_text {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 45px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    color: #21232E; }
    .section_text::after {
      content: '';
      background-color: #14A0C7;
      width: 210px;
      height: 45px;
      position: absolute;
      z-index: -1;
      right: 735px;
      top: 40px; }
  .section_card {
    background-color: #21232E;
    display: flex;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px; }
    .section_card_img {
      width: 40%; }
    .section_card_right_container {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
    .section_card_heading {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 25px;
      font-weight: bold;
      color: white; }
    .section_card_text {
      font-family: "Hind", sans-serif;
      letter-spacing: 0.6px;
      font-size: 16px;
      line-height: 1.5;
      color: white;
      width: 70%; }
  .section_banner {
    margin-top: 5rem;
    background: linear-gradient(90deg, #639316 0%, #3290c8 100%);
    width: 64%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 1;
    bottom: -4rem;
    left: 18%; }
    .section_banner_text_wrap {
      line-height: 2; }
    .section_banner_heading {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 700;
      font-size: 30px;
      position: relative;
      color: #21232E; }
      .section_banner_heading::before {
        content: '';
        background-color: #14A0C7;
        width: 70px;
        height: 35px;
        position: absolute;
        z-index: -1;
        right: 220px;
        bottom: 10px; }
    .section_banner_text {
      font-family: "Hind", sans-serif;
      color: white; }
    .section_banner_button {
      padding: 0.8rem 2.7rem;
      background-color: #699900;
      color: white;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 18px;
      border: none;
      border-radius: 3px;
      font-weight: 700;
      cursor: pointer; }
      .section_banner_button:hover {
        background-color: #466600; }

.footer {
  background-color: #21232E;
  position: relative;
  padding: 5rem; }
  .footer_logo p {
    padding-top: 1rem;
    color: white; }
    .footer_logo p span {
      color: white; }
  .footer_text {
    width: 20%;
    font-family: "Hind", sans-serif; }
  .footer .footer-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 3rem;
    width: 87%;
    color: white; }
    .footer .footer-wrap .footer-cr {
      font-family: "Hind", sans-serif;
      padding-top: 1rem; }

/*# sourceMappingURL=style1.css.map */
