.logo, .landing-logo {
  display: flex; }
  .logo img, .landing-logo img {
    align-self: center; }
  .logo p, .landing-logo p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 26px;
    padding-left: 0.8rem;
    line-height: 1; }
    .logo p span, .landing-logo p span {
      font-weight: lighter;
      font-size: 12px; }

html {
  font-size: 1rem; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.header {
  background: url(../img/m-h-day.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: block;
  padding-bottom: 10.5rem;
  border-bottom-right-radius: 38%; }
  .header-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    padding-top: 1.4rem;
    margin-left: 10%; }
  .header_heading {
    margin-top: 4.2rem;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 72px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.5px;
    position: relative;
    z-index: 10; }
    .header_heading::before {
      content: '';
      background-color: blue;
      width: 310px;
      height: 55px;
      position: absolute;
      z-index: -1;
      bottom: 0; }
  .header_text {
    font-family: "Hind", sans-serif;
    letter-spacing: 0.6px;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 4rem;
    width: 80%; }
  .header_button {
    padding: 0.8rem 2.7rem;
    background-color: #699900;
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 8%; }
  .header a {
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    margin-left: 9rem; }

.section {
  display: flex;
  flex-direction: column; }
  .section_card_wrap {
    margin: 0 auto;
    width: 60%;
    margin-bottom: 4rem; }
  .section_text {
    text-align: center;
    padding: 2.5rem;
    font-weight: "Source Sans Pro", sans-serif;
    font-size: 45px;
    letter-spacing: 0.5px;
    position: relative; }
    .section_text::after {
      content: '';
      background-color: blue;
      width: 190px;
      height: 40px;
      position: absolute;
      z-index: -1;
      right: 750px;
      top: 48px; }
  .section_card {
    background-color: red;
    display: flex;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px; }
    .section_card_img {
      width: 40%; }
    .section_card_right_container {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
    .section_card_heading {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 25px;
      font-weight: bold;
      color: white; }
    .section_card_text {
      font-family: "Hind", sans-serif;
      letter-spacing: 0.6px;
      font-size: 16px;
      line-height: 1.5;
      color: white;
      width: 70%; }
  .section_banner {
    margin: 0 auto;
    background-color: green;
    width: 64%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 1;
    bottom: -4rem; }
    .section_banner_text_wrap {
      line-height: 2; }
    .section_banner_heading {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: bold;
      font-size: 30px;
      position: relative; }
    .section_banner_text {
      font-family: "Source Sans Pro", sans-serif;
      color: white; }
    .section_banner_button {
      padding: 0.8rem 2.7rem;
      background-color: #699900;
      color: white;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 18px;
      border: none;
      border-radius: 3px;
      font-weight: 600;
      cursor: pointer; }

footer {
  background-color: grey;
  position: relative;
  padding: 5rem; }

/*# sourceMappingURL=style1.css.map */
