.logo {
    display: flex;

    img {
        align-self: center;
    }

    p {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $mainFont;
        font-weight: bold;
        font-size: 26px;
        padding-left: 0.8rem;
        line-height: 1;

        span {
            font-weight: lighter;
            font-size: 12px;
        }
    }
}

//maps
$font-weights: ("regular": 400, "medium": 500, "bold": 700);

//MIXIN
@mixin button {
    padding: 0.8rem 2.7rem;
    background-color: $buttonColor;
    color: white;
    font-family: $mainFont;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    font-weight: map-get($font-weights, "bold");
    cursor: pointer;

    &:hover {
        background-color: darken($color: $buttonColor, $amount: 10);
    }
}

@mixin link {
    color: white;
    font-family: $mainFont;
    font-weight: map-get($font-weights, "medium");
    font-size: 20px;

    &:hover {
        color: darken($color: white, $amount: 30);
    }
}

@mixin markedtext($width, $height) {
    content: '';
    background-color: $markedColor;
    width: $width;
    height: $height;
    position: absolute;
    z-index: -1;
}

@mixin text {
    font-family: $secondaryFont;
    letter-spacing: 0.6px;
    font-size: 16px;
    line-height: 1.5;
}

@mixin cardTitle {
    font-family: $mainFont;
    font-size: 25px;
    font-weight: bold;
}

html {
    font-size: 1rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: $mainBg;
}

.header {
    background: $background;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: block;
    padding-bottom: 10.5rem;
    border-bottom-right-radius: 38%;

    &-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 40%;
        padding-top: 1.4rem;
        margin-left: 10%;
    }

    &_heading {
        margin-top: 4.2rem;
        font-family: $mainFont;
        font-size: 72px;
        font-weight: map-get($font-weights, "bold");
        line-height: 1;
        letter-spacing: 0.5px;
        position: relative;
        z-index: 10;
        color: $headertextColor;

        &::before {
            @include markedtext(310px, 55px);
            bottom: 0;
        }
    }

    &_text {
        @include text;
        margin-top: 4rem;
        width: 80%;
        color: $headertextColor;
    }

    &_button {
        @include button;
        margin-top: 8%;
    }

    a {
        @include link;
        margin-left: 9rem;
    }
}

.landing-logo {
    @extend .logo;

    p {
        color: $logoColor;

        span {
            color: $logoColor;
        }
    }

}

.section {
    display: flex;
    flex-direction: column;

    &_card_wrap {
        margin: 0 auto;
        width: 60%;
    }

    &_link {
        @include link;
    }

    &_text {
        text-align: center;
        font-family: $mainFont;
        font-weight: map-get($font-weights, "bold");
        font-size: 45px;
        padding-top: 2rem;
        padding-bottom: 2rem;
        position: relative;
        color: $sectiontextColor;

        &::after {
            @include markedtext(210px, 45px);
            right: 735px;
            top: 40px;
        }
    }

    &_card {
        background-color: $blocksColor;
        display: flex;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-radius: 5px;

        &_img {
            width: 40%;
        }

        &_right_container {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

        &_heading {
            @include cardTitle;
            color: white;
        }

        &_text {
            @include text;
            color: white;
            width: 70%;
        }
    }

    &_banner {
        margin-top: 5rem;
        background: $gradientBg;
        width: 64%;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 1rem;
        padding-bottom: 2rem;
        position: relative;
        z-index: 1;
        bottom: -4rem;
        left: 18%;

        &_text_wrap {
            line-height: 2;
        }

        &_heading {
            font-family: $mainFont;
            font-weight: map-get($font-weights, "bold");
            font-size: 30px;
            position: relative;
            color: $bannertitleColor;

            &::before {
                @include markedtext(70px, 35px);
                right: 220px;
                bottom: 10px;
            }
        }

        &_text {
            font-family: $secondaryFont;
            color: white;
        }

        &_button {
            @include button;
        }
    }
}

.footer {
    background-color: $blocksColor;
    position: relative;
    padding: 5rem;

    &_logo {
        @extend .logo;

        p {
            padding-top: 1rem;
            color: white;

            span {
                color: white;
            }
        }
    }

    &_text {
        width: 20%;
        font-family: $secondaryFont;
    }

    .footer-wrap {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 3rem;
        width: 87%;
        color: white;

        .footer-cr {
            font-family: $secondaryFont;
            padding-top: 1rem;
        }
    }
}