$background:  url(../img/m-h-day.jpg);
//fonts
$mainFont: 'Source Sans Pro', sans-serif;
$secondaryFont: 'Hind', sans-serif;
$headerFont:'Hind', sans-serif;
//colors
$buttonColor: #699900;
$markedColor:#14A0C7;
$blocksColor:#21232E;
$gradientBg:linear-gradient(90deg, rgba(99,147,22,1) 0%, rgba(50,144,200,1) 100%);
$mainBg:white;
$headertextColor: #21232E;
$sectiontextColor:#21232E;
$bannertitleColor:#21232E;
$logoColor:#21232E;