$background:  url(../img/m-h-night.jpg);
//fonts
$mainFont: 'Source Sans Pro', sans-serif;
$secondaryFont: 'Hind', sans-serif;
//colors
$buttonColor: #E3AC00;
$markedColor:#FF4E33;
$blocksColor:#3B3F50;
$gradientBg:linear-gradient(90deg, rgba(220,161,7,1) 0%, rgba(152,53,105,1) 100%);
$mainBg:#21232E;