.tm-main-nav>ul>li>a:hover {
    background-color: lightskyblue;
    color: #fff;
}

.tm-banner {
    background: linear-gradient(to right, lightskyblue, burlywood);
}

.tm-banner-inner {
    background: #fff;
}

.tm-banner-text {
    text-shadow: 5px 5px 3px rgba(51, 51, 51);
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.tm-banner-text {
    -webkit-animation: slide-left 2s linear forwards;
    animation: slide-left 2s linear forwards;
}

.flex-2-col {
    display: flex;
    align-items: center;
}

.flex-2-col>.tm-team-description-container {
    width: 40%;
    line-height: 2rem;
}

.flex-2-col>.tm-team-description-container>.tm-section-title {
    text-align: center;
}

.tm-team-description-container>.tm-section-description {
    text-indent: 1.5rem;
    text-align: justify;
}

.box.box-bg:hover {
    background-color: lightgrey;
}

.tm-box-bg-title:hover {
    font-style: italic;
}

.heading >.padding-medium > h2 {
    color: lightskyblue;
    text-align: center;
}

.padding-medium>ol>li {
    list-style-type: lower-alpha;
}

.padding-medium>ol>li:nth-child(1)::after,
.padding-medium>ol>li:nth-child(3)::after {
    content: "New";
    color: red;
    font-weight: bold;
    margin-left: 0.3rem;
    font-variant: small-caps;
    font-size: 0.7rem;
    vertical-align: top;
}

.padding-medium>ol>li:hover::before {
    content: ">";
    color: black;
    font-weight: bold;
}
.blocks > .padding-medium > p{
    line-height: 2rem;
}
.blocks > .padding-medium > p:last-child{
letter-spacing:5px;
word-spacing: 10px;
font-style: italic;
}
.tm-content-box > .gallery-container{
    border: 1px solid lightgray;
}
.blocks > .tm-content-box > .gallery-container >li:nth-child(odd){
    border: 10px solid lightskyblue;
    background-color: lightskyblue;
    color:white;
}

.blocks > .tm-content-box > .gallery-container >li:nth-child(even){
    padding:10px;
}
.blocks > .tm-content-box > .gallery-container >li > div >p{
    font-style: italic;
}
.blocks > .tm-content-box > .gallery-container >li > div >p::first-letter{
    font-weight: bold;
}