.tm-main-nav > ul > li > a:hover{
    background-color:lightskyblue;
    color:#fff;
}
.tm-banner{
    background: linear-gradient(to right, lightskyblue, burlywood);
}
.tm-banner-inner{
    background: #fff;
}
.tm-banner-text{
    text-shadow:5px 5px 3px rgba(51,51,51);
}

@-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(200px);
              transform: translateX(200px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(200px);
              transform: translateX(200px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  .tm-banner-text {
    -webkit-animation: slide-left 2s linear forwards;
    animation: slide-left 2s linear forwards;
}
.tm-content-box.flex-2-col{
    display: flex;
}
.tm-team-description-container{
    width:40%;
    line-height: 1.8rem;
}
.tm-team-description-container > .tm-section-title{
    text-align: center;
}
.tm-team-description-container > .tm-section-description{
    text-indent: 1.5rem; 
    text-align: justify;
}
.box.box-bg:hover{
    background-color: lightgrey;
}
.tm-box-bg-title:hover{
    font-style: italic;
}